<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Front End Dev - Menelik Simpson</title>
    <meta property="og:url" content="http://www.cacheruleseverythingaroundme.co.uk" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Cache Rules Everything Around Me" />
    <meta property="og:description"
        content="Cache Rules Everything Around Me: A Front End Web Developer Portfolio by Menelik Simpson" />
    <meta property="og:image"
        content="https://res.cloudinary.com/yelpcampmedia/image/upload/v1574213937/portfolio/PortfolioPageLogo.png" />
    <meta property="og:site_name" content="Cache Rules Everything Around Me">
    <meta name="twitter:image:alt" content="Menelik Simpson Front End Developer Portfolio Logo">
    <meta name="twitter:title" content="A Front End Web Developer Portfolio by Menelik Simpson">
    <meta name="twitter:description" content="A Front End Web Developer Portfolio by Menelik Simpson">
    <meta name="twitter:image"
        content=" https://res.cloudinary.com/yelpcampmedia/image/upload/v1574213937/portfolio/PortfolioPageLogo.png">
    <meta name="twitter:card" content="summary_large_image">
    <link
        href="https://fonts.googleapis.com/css?family=Barlow|Nova+Cut|Chakra+Petch|Libre+Franklin|Quantico&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/styles/CSS/showcase.css"> -->
    <link rel="stylesheet" href="/styles/CSS/showcase.css">
</head>

<body>