<% include partials/header %>


<div class='container-fluid'>
    <h1 class='text__standard text__standard--center text__standard--lg '>That page couldn't be found</h1>
    <img class="img__standard" src="/Media/damn.gif" alt="">

    <h4 class='text__standard text__standard--center text__standard--lg '>Womp womp wooooohhhhh</h4>
</div>

<% include partials/footer %>