<% include partials/header %>
<div class="darkBk container-fluid">
  <div class='' id='monster'>
    <div class="holdall">
      <div class='holdall2'>
        <h3 class='ll text__standard3 text__standard--xxl text__standard--uppercase text__standard--white'>Cache</h3>
        <h3 class='ll text__standard3 text__standard--xxl text__standard--uppercase text__standard--white'>Rules</h3>

      </div>
      <div class='holdall2'>
        <div class='holdall2'>
          <h3 class='ll2 text__standard3  text__standard--xl text__standard--uppercase text__standard--white'>Every</h3>
          <h3 class='ll2 text__standard3  text__standard--xl text__standard--uppercase text__standard--white'>thing</h3>
        </div>
        <div class='holdall2'>
          <h3 class='text__standard3 text__standard--xla text__standard--uppercase text__standard--white'>Around</h3>
          <h3 class='text__standard3 text__standard--xla text__standard--uppercase text__standard--white'> Me</h3>
        </div>
      </div>
    </div>
    <div class='background__black--fade chunkContainer__content--middleGround chunkContainer__content--fullHeight'>
      <h5
        class='reveal text__standard3 text__standard--center text__standard--med text__standard--uppercase text__standard--white'>
        - A Portfolio- </h5>
    </div>
    <div class="heading__container2">
      <div class='heading__intro header__name '>
        <h3
          class='text__standard3 text__standard--center text__standard--xxl text__standard--uppercase text__standard--white'>
          Menelik Simpson</h3>

      </div>
    </div>

    <nav class="navbar navbar-expand-sm navbar-dark sticky-top">
      <a class="text__standard--white text__standard navbar-brand mr-auto" href="#">Selected Projects</a>
      <a class="text__standard--white text__standard nav-link  ml-auto" href="#about">About Me</a>
    </nav>

    <div class="marginBoost heading__container">
      <div class='heading__intro2 header__name '>
        <h3
          class='text__standard3 text__standard--center text__standard--xxl text__standard--uppercase text__standard--white'>
          Menelik Simpson</h3>
        <h1
          class='text__standard2 header__position text__standard--uppercase  text__standard--med text__standard--center text__standard--spreadLetter text__standard--white'>
          Front End Developer</h1>
      </div>
    </div>
    <div>
      <h1
        class='text__standard--center text__standard--lg text__standard chunkContainer__content--centered text__standard--black'
        href='#about'>About</h1>
      <div class="text__chunkContainer chunkContainer__content--centered">

        <p class='reveal text__chunk text__standard--black text__standard--center text__standard--sm'>
          I am a self-taught Front-End Developer with a background in Graphic Design and Publishing and 18 months
          experience as a developer. I'm currently based in Sheffield and enjoy producing websites PWAs, and content
          for the web by harnessing my
          design background alongside frameworks, APIs, templating engines and libraries, not limited to but including
          HTML, CSS/SASS, various flavours of Javascript including: ES6, jQuery & Vue, and NodeJS. Check out my
          repositories, tweets or LinkedIn profile and drop me a line.</p>
        <h5 class='skills__iconContainer text__standard--black img__collection text__standard--med '>
          <i class="fab fa-twitter"></i><i class="fab fa-linkedin-in"></i><i class="fab fa-github"></i>
        </h5>
      </div>
    </div>
    <div>
      <img class='img__standard image__profile'
        src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573531268/portfolio/me.jpg"
        alt="Looping gif of a man touching his head in surprise">
    </div>


    <h1 class='text__standard--center text__standard text__standard--lg  text__standard--white'>
      Selected Projects</h1>
    <div class='img__collectionContainer'>
      <div class="solid"></div>
      <div class='reveal img__tileBorder--pink img__tile--primary'>
        <div class='textTile__standard'>
          <p class='text__standard  text__standard--lg'>The Dun Know</p>
        </div>
        <picture>
          <source srcset="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573432761/portfolio/screen7.webp"
            type="image/webp">
          <img class='img__standard'
            src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573439046/portfolio/screen7_png.png"
            alt="Lady with black hair and a nose ring">
        </picture>
      </div>
      <div class="img__tile--expanded">
        <div>
          <h5
            class='skills__iconContainer chunkContainer__content--centered text__standard--black img__collection text__standard--med '>
            <i class="fab fa-html5"></i><i class="fab fa-sass"></i><i class="fab fa-gulp"></i><i
              class="fab fa-js"></i><i class="fab fa-node"></i></h5>
          <h3 class='chunkContainer__content--centered text__standard--black text__standard text__intro'>The Dun Know
          </h3>
          <div class="text__chunkContainer chunkContainer__content--centered">
            <p class='text__standard--black text__chunk text__standard--center text__standard--sm'>To create a landing
              page for a
              Culture/News website I used a combination of HTML5, SCSS and vanilla javascript with NPM and Gulp
              tag-teaming my automation processes, and a NodeJS server for
              the backend to store and retrieve articles. Images were served via a Cloudinary CDN and the mobile
              version also works as a progressive web app for a decent offline experience. I kept a muted colour
              scheme of Black/White/Gray & Yellow for readibility and style.</p>
          </div>
          <div class="img__collection">
            <div class='img__tile--mob'>
              <picture class='img__mob--small'>
                <source srcset="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573432761/portfolio/tdk1.webp"
                  type="image/webp">
                <img class='img__mob--small'
                  src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573439045/portfolio/tdk1_png.png"
                  alt="Screenshot of the dun know website mobile version">
              </picture>
            </div>
            <div class='img__tile'>
              <video autoplay loop muted class='vid__desktop--small'>
                <source
                  src="https://res.cloudinary.com/yelpcampmedia/video/upload/v1573513541/portfolio/tdk_vid_mp41.webm"
                  type="video/webm">
                <source
                  src="https://res.cloudinary.com/yelpcampmedia/video/upload/v1573513537/portfolio/tdk_vid_mp4.mp4"
                  type="video/mp4">
              </video>
            </div>
            <div class='img__tile--mob'>
              <picture class='img__mob--small'>
                <source srcset="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573432761/portfolio/tdk4.webp"
                  type="image/webp">
                <img class='img__mob--small'
                  src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573439047/portfolio/tdk4_png.png"
                  alt="Screenshot of the dun know website mobile version">
              </picture>
            </div>
          </div>
          <div class="text__chunkContainer chunkContainer__content--centered">
            <a class="btn btn-outline-primary chunkContainer__content--centered" href="www.lashbar.herokuapp.com"
              role="button">Visit Website</a>
          </div>
        </div>
      </div>
      <div class='reveal img__tileBorder--pink img__tile--primary'>
        <div class='textTile__standard'>
          <p class='text__standard  text__standard--lg'>Crew of Insiders</p>
        </div>
        <picture>
          <source srcset="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573432761/portfolio/screen8.webp"
            type="image/webp">
          <img class='img__standard'
            src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573439048/portfolio/screen8_png.png"
            alt="Lady with black hair and a nose ring">
        </picture>
      </div>
      <div class="img__tile--expanded">
        <div>
          <h5
            class='skills__iconContainer chunkContainer__content--centered text__standard--black img__collection text__standard--med '>
            <i class="fab fa-html5"></i><i class="fab fa-css3-alt"></i><i class="fab fa-vuejs"></i><i
              class="fab fa-mailchimp"></i></i><i class="fab fa-node"></i></h5>
          <h3 class=' chunkContainer__content--centered text__standard--black text__standard text__intro'>Crew of
            Insiders</h3>
          <div class="text__chunkContainer chunkContainer__content--centered">
            <p class='text__chunk text__standard--black text__standard--center text__standard--sm'>To create a landing
              page for a Fashion
              website I used a combination of HTML5, and vanilla CSS and Vue JS for the front end. Using a NodeJS
              server to retrieve clothing items fron the database the site used a pale mint and dusty pink to
              emphasize the laid back nature of the brand. The Mailchimp API alongside Mandrill was used create a
              functioning newletter on completion of the signup form.</p>
          </div>
          <div class='img__collection'>
            <div class='img__tile'>
              <video autoplay loop muted class='vid__desktop--small'>
                <source
                  src="https://res.cloudinary.com/yelpcampmedia/video/upload/v1573513532/portfolio/CrewOfInsider.webm"
                  type="video/webm">
                <source
                  src="https://res.cloudinary.com/yelpcampmedia/video/upload/v1573513946/portfolio/CrewOfInsider_mp4.mp4"
                  type="video/mp4">
              </video>
            </div>
            <div class='img__tile'>
              <picture>
                <source srcset="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573397418/portfolio/CoO2.webp"
                  type="image/webp">
                <img class='img__desktop--small'
                  src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573439038/portfolio/CoO2_png.png"
                  alt="Lady with black hair and a nose ring">
              </picture>
            </div>
          </div>
          <div class="text__chunkContainer chunkContainer__content--centered">
            <a class="btn btn-outline-primary chunkContainer__content--centered  " href="www.lashbar.herokuapp.com"
              role="button">Visit Website</a>

          </div>
        </div>
      </div>
      <div class='reveal img__tileBorder--pink img__tile--primary'>
        <div class='textTile__standard'>
          <p class='text__standard  text__standard--lg'>Lignum V. Cafe</p>
        </div>
        <picture>
          <source srcset="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573432762/portfolio/screen5.webp"
            type="image/webp">
          <img class='img__standard'
            src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573439045/portfolio/screen5_png.png"
            alt="Lady with black hair and a nose ring">
        </picture>
      </div>
      <div class="img__tile--expanded">
        <div>
          <h5
            class='skills__iconContainer chunkContainer__content--centered text__standard--black img__collection text__standard--med '>
            <i class="fab fa-html5"></i><i class="fab fa-sass"></i><i class="fab fa-gulp"></i><i
              class="fab fa-js"></i><i class="fab fa-node"></i></h5>
          <h3
            class='text__standard--med chunkContainer__content--centered text__standard--black text__standard text__intro'>
            Lignum V.
            Cafe</h3>
          <div class="text__chunkContainer chunkContainer__content--centered">
            <p class='text__chunk text__standard--black text__standard--center text__standard--sm'>To create a single
              page website for a
              Caribbean Sheffield-based cafe I used HTML5, vanilla CSS and jQuery initially, later swapping to
              Javascript as it didn't warrant a whole library for the small range of features used. A NodeJS server
              was used to run the site and the responsive mobile version also acts as a progressive web app which in
              turn allows for push notifications to be added when a new deal of the month is added to the site.</p>
          </div>
          <div class="img__collection">
            <div class='img__tile'>

              <video autoplay loop muted class='vid__desktop--small'>
                <source src="https://res.cloudinary.com/yelpcampmedia/video/upload/v1573513530/portfolio/lignumVid.webm"
                  type="video/webm">
                <source
                  src="https://res.cloudinary.com/yelpcampmedia/video/upload/v1573513527/portfolio/lignumVidMp4.mp4"
                  type="video/mp4">
              </video>
            </div>
            <div class='img__tile'>
              <picture>
                <source srcset="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573397418/portfolio/rest1.webp"
                  type="image/webp">
                <img class='img__desktop--small'
                  src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573439038/portfolio/rest1_png.png"
                  alt="Lady with black hair and a nose ring">
              </picture>
            </div>
          </div>
          <div class="text__chunkContainer chunkContainer__content--centered">
            <a class="button__link--external chunkContainer__content--centered " href="www.lashbar.herokuapp.com"
              role="button">Visit Website</a>

          </div>
        </div>
      </div>
      <div class='reveal img__tileBorder--pink img__tile--primary'>
        <div class='textTile__standard'>
          <p class='text__standard  text__standard--lg'>Lash Bar</p>
        </div>
        <picture>
          <source srcset="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573397418/portfolio/screen1.webp"
            type="image/webp">
          <img class='img__standard'
            src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573439042/portfolio/screen1_png.png"
            alt="Lady with black hair and a nose ring">
        </picture>
      </div>
      <div class="img__tile--expanded">
        <div>
          <h5
            class='skills__iconContainer chunkContainer__content--centered text__standard--black img__collection text__standard--med '>
            <i class="fab fa-html5"></i><i class="fab fa-sass"></i><i class="fab fa-gulp"></i><i
              class="fab fa-js"></i><i class="fab fa-node"></i></h5>
          <h3 class=' chunkContainer__content--centered text__standard--black text__standard text__intro'>Lash Bar
          </h3>
          <div class="text__chunkContainer chunkContainer__content--centered">
            <p class='text__chunk text__standard--black text__standard--center text__standard--sm'>The Lash Bar
              designed for a
              Sheffield-based nail salon was lovingly made used HTML5, SCSS and vanilla JS. Gulp was used to automate
              most tasks during development and a NodeJS server was used for a beauty blog section within the website,
              and the Nexmo API enabled a text confirmation to be sent once an appointment was requested using the
              booking form. The responsive mobile version also acts as a progressive web app which coupled with a form
              designed as a sentence helped to improve conversion and return visits for customers.</p>

          </div>
          <div class="img__collection">
            <div class='img__tile'>
              <video autoplay loop muted class='vid__desktop--small'>
                <source src="https://res.cloudinary.com/yelpcampmedia/video/upload/v1573513539/portfolio/lashbar.webm"
                  type="video/webm">
                <source src="https://res.cloudinary.com/yelpcampmedia/video/upload/v1573513533/portfolio/lashbarMp4.mp4"
                  type="video/mp4">
              </video>
            </div>
            <div class='img__tile' data-toggle="modal" data-target="#exampleModal">
              <picture>
                <source class='img__desktop--small'
                  srcset="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573397418/portfolio/screen3.webp"
                  type="image/webp">
                <img class='img__desktop--small'
                  src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573439042/portfolio/screen3_png.png"
                  alt="Lady with black hair and a nose ring">
              </picture>
            </div>
          </div>

          <div class="text__chunkContainer chunkContainer__content--centered">
            <a class="button btn btn-outline-primary chunkContainer__content--centered "
              href="https://www.lashbar.herokuapp.com" role="button" target="_blank">Visit Website</a>

          </div>
        </div>


      </div>
    </div>








  </div>
</div>
<% include partials/footer %>