<% include partials/header %>
<div class="background__black container-fluid">
  <div class='' id='monster'>
    <div class="holdall">
      <div class='holdall2'>
        <h3 id='introWord1'
          class='peepThis text__standard--lineHeightBoost text__standard3 text__standard--xxl text__standard--uppercase text__standard--light'>Cache
        </h3>
        <h3 id='introWord2'
          class='peepThis text__standard--lineHeightBoost text__standard3 text__standard--xxl text__standard--uppercase text__standard--light'>Rules
        </h3>

      </div>
      <div class='holdall2'>
        <div class='holdall2'>
          <h3 id='introWord3'
            class='peepThis text__standard--lineHeightBoostMini text__standard3  text__standard--xl text__standard--uppercase text__standard--light'>
            Every</h3>
          <h3 id='introWord4'
            class='peepThis text__standard--lineHeightBoostMini text__standard3  text__standard--xl text__standard--uppercase text__standard--light'>
            thing</h3>
        </div>
        <div class='holdall2'>
          <h3 id='introWord5'
            class='peepThis text__standard3 text__standard--xla text__standard--uppercase text__standard--light'>Around
          </h3>
          <h3 id='introWord6'
            class='peepThis text__standard3 text__standard--xla text__standard--uppercase text__standard--light'> Me
          </h3>
        </div>
      </div>
    </div>
    <div class="chunkContainer__content--fullHeight background__black--fade"></div>
    <div class="heading__container2">
      <div
        class='heading__intro chunkContainer__content--fullHeight chunkContainer__content--middleGround header__name '>
        <h3
          class='name text__standard3 text__standard--center text__standard--xxl text__standard--uppercase text__standard--light'>
          Menelik Simpson</h3>

      </div>
    </div>


    <div class="marginBoost heading__container">
      <div class='heading__intro2 header__name '>
        <h3
          class='text__standard3 text__standard--center text__standard--xxl text__standard--uppercase text__standard--light'>
          Menelik Simpson</h3>
        <h1
          class='text__standard2 header__position--FE text__standard--uppercase text__standard--center text__standard--light'>
          Front End Developer</h1>
      </div>
    </div>
    <div class="chunkContainer__content--fullHeight marginBoost background__black--fadeReverse"></div>
    <div class='chunkContainer__content--fullHeight background__black background__black--fade'>
      <h5
        class='reveal paddingBoost--slight text__standard3 text__standard--center text__standard--med text__standard--uppercase text__standard--light'>
        - About - </h5>

      <div class="text__chunkContainer chunkContainer__content--centered">

        <p class='reveal text__standard2 text__standard--center text__chunk text__standard--light text__standard--sm'>
          I'm a Junior Front-End web developer with 18 months experience of creating web experiences inline with web
          accessibilty standards and a love of problem solving through design. I pour my design powers and commercial
          experience
          into each project primarily using
          HTML5, CSS, JavaScript alongside SASS, NodeJS, Gulp, Github and 3rd party APIs.
        </p>
        <hr>
        <p class='reveal text__standard2 text__standard--center text__chunk text__standard--light text__standard--sm'>
      
          I bring a tenacious yet calm approach to each project and enjoy experimenting with technologies and
          frameworks; at present I am drilling into a deeper understanding of React and Redux as well as voice-assisted
          technologies. I'm currently based in Sheffield, and would love to hear from you if you have a project I could
          help with. Feel free to check out my
          repositories, tweets and LinkedIn profile, or <a
            href="mailto:menelik.simpson@yahoo.co.uk?Subject=Hello%20Mena" target="_top">send me an email</a> and get in
          touch.</p>
        <h5 class='skills__iconContainer img__collection text__standard--med '>
          <a class='text__standard--pink social__button' href="https://twitter.com/ALLADATSTUFF">
            <i class="fab fa-twitter"></i>
          </a>
          <a class='text__standard--pink social__button' href="https://github.com/ilovethedrama?tab=repositories">
            <i class="fab fa-github"></i>
            <a class='social__button text__standard--pink' href="https://www.linkedin.com/in/meneliksimpson/">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </a>
        </h5>
      </div>
      <img class='img__standard image__profile'
        src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573531268/portfolio/me.jpg"
        alt="Image of myself standing on the Brooklyn Bridge">
    </div>
    <!-- <div>
    </div> -->

    <!-- <div class="chunkContainer__content--fullHeight marginBoost background__black--fadeReverse"></div> -->
    <div class="chunkContainer__content--fullHeight background__black--fade">


      <h5
        class='reveal paddingBoost--slight text__standard3   text__standard--center text__standard--med text__standard--uppercase text__standard--light'>
        Selected Projects</h5>

      <div class='img__collectionContainer'>

        <div class='reveal img__tileBorder--pink img__tile--primary'>
          <div class='textTile__standard'>
            <p class='text__standard  text__standard--lg'>The Deli Cafe</p>
          </div>
          <picture>
            <source
              srcset="https://res.cloudinary.com/yelpcampmedia/image/upload/v1575463621/portfolio/deliScreenShot3_webPV.webp"
              type="image/webp">
            <img class='img__standard'
              src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1575463624/portfolio/deliScreenShot3.png"
              alt="Screenshot from the Deli Cafe Website">
          </picture>
        </div>
        <div class="img__tile--expanded">
          <div>
            <h5
              class='skills__iconContainer chunkContainer__content--centered text__standard--pink img__collection text__standard--med '>
              <i class="fab fa-html5"></i><i class="fab fa-sass"></i><i class="fab fa-gulp"></i><i
                class="fab fa-js"></i><i class="fab fa-node"></i></h5>
            <h3
              class='text__standard--med chunkContainer__content--centered text__standard--light text__standard text__intro'>
              The Deli Cafe</h3>
            <div class="text__chunkContainer chunkContainer__content--centered">
              <p class='text__chunk text__standard2 text__standard--light text__standard--center text__standard--sm'>To
                create a fast-loading single page website for a cafe I used HTML5, SCSS and Javascript with NodeJS for
                the server, relying heavily on flexbox and media queries to handle the responsive mobile version, using
                custom Google fonts and a Cloudinary CDN to serve video and image content.
              </p>
            </div>
            <div class="img__collection">
              <div class='img__tile'>

                <video autoplay loop muted class='vid__desktop--small'>
                  <source
                    src="https://res.cloudinary.com/yelpcampmedia/video/upload/v1575540878/portfolio/delivid_webM.webm"
                    type="video/webm">
                  <source
                    src="https://res.cloudinary.com/yelpcampmedia/video/upload/v1575540876/portfolio/delivid_mp4.mp4"
                    type="video/mp4">
                </video>
              </div>
              <div class='img__tile'>
                <picture>
                  <source
                    srcset="https://res.cloudinary.com/yelpcampmedia/image/upload/v1575463622/portfolio/deliScreenShot4_webPV.webp"
                    type="image/webp">
                  <img class='img__desktop--small'
                    src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1575463624/portfolio/deliScreenShot4.png"
                    alt="Screenshot from the Deli Cafe Website">
                </picture>
              </div>
            </div>
            <div class="text__chunkContainer chunkContainer__content--centered">
              <a class="button shadow-none btn btn-outline-primary text__standard2 chunkContainer__content--centered"
                href="https://desolate-depths-29680.herokuapp.com/" role="button" target="_blank">Visit Website</a>

            </div>
          </div>
        </div>
        <div class='reveal img__tileBorder--pink img__tile--primary'>
          <div class='textTile__standard'>
            <p class='text__standard  text__standard--lg'>Lash Bar</p>
          </div>
          <picture>
            <source srcset="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573397418/portfolio/screen1.webp"
              type="image/webp">
            <img class='img__standard'
              src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573439042/portfolio/screen1_png.png"
              alt="Screenshot from the Lash Bar beauty Website">
          </picture>
        </div>
        <div class="img__tile--expanded">
          <div>
            <h5
              class='skills__iconContainer chunkContainer__content--centered text__standard--pink img__collection text__standard--med '>
              <i class="fab fa-html5"></i><i class="fab fa-sass"></i><i class="fab fa-gulp"></i><i
                class="fab fa-js"></i><i class="fab fa-node"></i></h5>
            <h3
              class='chunkContainer__content--centered text__standard--light text__standard text__intro text__standard--med'>
              Lash Bar
            </h3>
            <div class="text__chunkContainer chunkContainer__content--centered">
              <p class='text__chunk text__standard2 text__standard--light text__standard--center text__standard--sm'>The
                Lash Bar
                designed for a
                Sheffield-based nail salon was lovingly made used HTML5, SCSS and vanilla JS. Gulp was used to automate
                most tasks during development and a NodeJS server was used for a beauty blog section within the website,
                and the Nexmo API enabled a text confirmation to be sent once an appointment was requested using the
                booking form.

              </p>

            </div>
            <div class="img__collection">
              <div class='img__tile'>
                <video autoplay loop muted class='vid__desktop--small'>
                  <source src="https://res.cloudinary.com/yelpcampmedia/video/upload/v1573513539/portfolio/lashbar.webm"
                    type="video/webm">
                  <source
                    src="https://res.cloudinary.com/yelpcampmedia/video/upload/v1573513533/portfolio/lashbarMp4.mp4"
                    type="video/mp4">
                </video>
              </div>
              <div class='img__tile' data-toggle="modal" data-target="#exampleModal">
                <picture>
                  <source class='img__desktop--small'
                    srcset="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573397418/portfolio/screen3.webp"
                    type="image/webp">
                  <img class='img__desktop--small'
                    src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573439042/portfolio/screen3_png.png"
                    alt="Screenshot from the Lash Bar beauty Website">
                </picture>
              </div>
            </div>

            <div class="text__chunkContainer chunkContainer__content--centered">
              <a class="button shadow-none btn btn-outline-primary text__standard2 chunkContainer__content--centered "
                href="https://lashbar.herokuapp.com/" role="button" target="_blank">Visit Website</a>
            </div>
          </div>
        </div>
        <div class='reveal img__tileBorder--pink img__tile--primary'>
          <div class='textTile__standard'>
            <p class='text__standard  text__standard--lg'>The Dun Know</p>
          </div>
          <picture>
            <source srcset="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573432761/portfolio/screen7.webp"
              type="image/webp">
            <img class='img__standard'
              src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573439046/portfolio/screen7_png.png"
              alt="Screenshot from The Dun Know Website">
          </picture>
        </div>
        <div class="img__tile--expanded">
          <div>
            <h5
              class='skills__iconContainer chunkContainer__content--centered text__standard--pink img__collection text__standard--med '>
              <i class="fab fa-html5"></i><i class="fab fa-sass"></i><i class="fab fa-gulp"></i><i
                class="fab fa-js"></i><i class="fab fa-node"></i></h5>
            <h3
              class='chunkContainer__content--centered text__standard--light text__standard text__intro text__standard--med'>
              The Dun Know
            </h3>
            <div class="text__chunkContainer chunkContainer__content--centered">
              <p class='text__standard2 text__standard--light text__chunk text__standard--center text__standard--sm'>To
                create a landing
                page for a
                Culture/News website I used a combination of HTML5, SCSS and vanilla Javascript and Gulp
                to automate development tasks automation processes, and a NodeJS server for
                the backend with images being served via Cloudinary.</p>
            </div>
            <div class="img__collection">
              <div class='img__tile--mob'>
                <picture class='img__mob--small'>
                  <source srcset="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573432761/portfolio/tdk1.webp"
                    type="image/webp">
                  <img class='img__mob--small'
                    src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573439045/portfolio/tdk1_png.png"
                    alt="Screenshot of The Dun Know website mobile version">
                </picture>
              </div>
              <div class='img__tile'>
                <video autoplay loop muted class='vid__desktop--small'>
                  <source
                    src="https://res.cloudinary.com/yelpcampmedia/video/upload/v1573513541/portfolio/tdk_vid_mp41.webm"
                    type="video/webm">
                  <source
                    src="https://res.cloudinary.com/yelpcampmedia/video/upload/v1573513537/portfolio/tdk_vid_mp4.mp4"
                    type="video/mp4">
                </video>
              </div>
              <div class='img__tile--mob'>
                <picture class='img__mob--small'>
                  <source srcset="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573432761/portfolio/tdk4.webp"
                    type="image/webp">
                  <img class='img__mob--small'
                    src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573439047/portfolio/tdk4_png.png"
                    alt="Screenshot of the dun know website mobile version">
                </picture>
              </div>
            </div>
            <div class="text__chunkContainer chunkContainer__content--centered">
              <a class="text__standard2 shadow-none text__standard2 disabled btn btn-outline-primary chunkContainer__content--centered"
                href="www.lashbar.herokuapp.com" role="button" target="_blank" aria-disabled="true">Under
                Construction</a>
            </div>
          </div>
        </div>
        <div class='reveal img__tileBorder--pink img__tile--primary'>
          <div class='textTile__standard'>
            <p class='text__standard  text__standard--lg'>Crew of Insiders</p>
          </div>
          <picture>
            <source srcset="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573432761/portfolio/screen8.webp"
              type="image/webp">
            <img class='img__standard'
              src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573439048/portfolio/screen8_png.png"
              alt="Lady with black hair and a nose ring">
          </picture>
        </div>
        <div class="img__tile--expanded">
          <div>
            <h5
              class='skills__iconContainer chunkContainer__content--centered text__standard--pink img__collection text__standard--med '>
              <i class="fab fa-html5"></i><i class="fab fa-css3-alt"></i><i
              class="fab fa-js"></i><i class="fab fa-node"></i></h5>
            <h3
              class='text__standard--med chunkContainer__content--centered text__standard--light text__standard text__intro'>
              Crew of
              Insiders</h3>
            <div class="text__chunkContainer chunkContainer__content--centered">
              <p class='text__chunk text__standard2 text__standard--light text__standard--center text__standard--sm'>To
                create a landing
                page for a mock clothing store I used a combination of HTML5, CSS and JS
                for the front end alongside
                the Nodemailer API to send a custom formatted
                welcome email on completion of the signup form.</p>
            </div>
            <div class='img__collection'>
              <div class='img__tile'>
                <video autoplay loop muted class='vid__desktop--small'>
                  <source
                    src="https://res.cloudinary.com/yelpcampmedia/video/upload/v1573513532/portfolio/CrewOfInsider.webm"
                    type="video/webm">
                  <source
                    src="https://res.cloudinary.com/yelpcampmedia/video/upload/v1573513946/portfolio/CrewOfInsider_mp4.mp4"
                    type="video/mp4">
                </video>
              </div>
              <div class='img__tile'>
                <picture>
                  <source srcset="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573397418/portfolio/CoO2.webp"
                    type="image/webp">
                  <img class='img__desktop--small'
                    src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1573439038/portfolio/CoO2_png.png"
                    alt="Lady with black hair and a nose ring">
                </picture>
              </div>
            </div>
            <div class="text__chunkContainer chunkContainer__content--centered">
              <a class="button shadow-none disabled  btn btn-outline-primary text__standard2 chunkContainer__content--centered"
                href="hh/" role="button" target="_blank" aria-disabled="true">Under Construction</a>

            </div>
          </div>
        </div>



      </div>
    </div>







  </div>
</div>
<% include partials/footer %>