// Block: The outermost parent element of the component is defined as the block.
// Element: Inside of the component may be one or more children called elements.
// Modifier: Either a block or element may have a variation signified by a modifier.

/* Block component */
// .btn {}

/* Element that depends upon the block */
// .btn__price {}

/* Modifier that changes the style of the block */
// .btn--orange {}
// .btn--big {}

// font-family: 'Caveat Brush', cursive;
// font-family: 'Caveat', cursive;
// font-family: 'Fjalla One', sans-serif;
// font-family: 'Teko', sans-serif;
// font-family: 'Niramit', sans-serif;
// font-family: 'Nova Round', cursive;
// font-family: 'Elsie', cursive;

//Colour Scheme #FFC0CB #000000 #FFFFFF #43675C #4FBFC9

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-size: 16px;
  height: 100vh;
  overflow-x: hidden;
  // margin-bottom: 200px;
}

$colour-dark: rgb(0, 0, 0);
$milkshakePink: rgb(255, 192, 203);
$colour-light: rgb(255, 255, 255);

.heading__container2 {
  position: fixed;
  top: 1px;
  width: 100%;
  margin-top: 30px;
}

.chunkContainer__content--fullHeight {
  min-height: 100vh;
  position: relative;
  z-index: 3;
}

.background__black--fade {
  background-image: linear-gradient($colour-dark, transparent);
}

.background__black {
  background: $colour-dark;
}

.peepThis {
  opacity: 0;
}

.heading__intro {
  display: table;
  margin: 0 auto;
  opacity: 0.15;
  z-index: 0;
}

.heading__intro--error {
  display: table;
  margin: 0 auto;
  z-index: 0;
}

.opacity__dimmer {
  opacity: 0.35;
}

.text__standard--xlReducedLH {
  line-height: 6rem;
}


.marginBoost {
  margin-top: 200px;
}

.paddingBoost {
  padding: 200px 0px;
}
.paddingBoost--slight {
  padding: 50px 0px;
}

.image__profile {
  position: relative;
  z-index: 3;
}

.heading__intro2 {
  display: table;
  margin: 0 auto;
  opacity: 1;
  z-index: 0;
  position: absolute;
  top: 50%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover,
a {
  text-decoration: none;
  color: $milkshakePink;
}

/*font-family: 'Libre Franklin', sans-serif;
font-family: 'Barlow', sans-serif;
font-family: 'Quantico', sans-serif;
font-family: 'Chakra Petch', sans-serif;
font-family: 'Nova Cut', cursive; */

.text__standard--sm {
  font-size: 1rem;
  // font-size: 1vw;
}

.text__standard--med {
  font-size: 3vw;
}

.text__intro {
  padding: 0 0 30px 30px;
}

.text__standard--light {
  color: $colour-light;
}

.text__standard--pink {
  color: $milkshakePink;
}

.text__standard--black {
  color: $colour-dark;
}

.text__standard--spreadLetter {
  letter-spacing: 1.5rem;
}

.text__standard--lg {
  font-size: 5vw;
}

.text__standard--xl {
  font-size: 10vw;
}

.text__standard--xxl {
  font-size: 20vw;
}

.holdall {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 50px 0;
  background: $colour-dark;
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.ll {
  line-height: 14rem;
  margin-bottom: 0;
}

.noMargins {
  margin:0;
}

.ll2 {
  line-height: 7.5rem;
}

.text__standard--xla {
  font-size: 4vw;
  line-height: 3.5rem;
}

.holdall2 {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding-left: 10px;
}

.header__position {
  position: absolute;
  top: 45%;
  left: 9.5%;
  right: 9.5%;
}

.header__name {
  position: relative;
}

.text__positionIt {
  position: absolute;
  left: 25%;
  top: 30.5%;
}



.text__standard {
  font-family: "Nova Cut", cursive;
}

.text__standard2 {
  font-family: "Libre Franklin", sans-serif;
}

.text__standard3 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: bolder;
}

.text__standard4 {
  font-family: "Quantico", sans-serif;
}

.text__standard5 {
  font-family: "Barlow", sans-serif;
}

.text__standard--center {
  text-align: center;
}

.text__chunk {
  line-height: 2rem;
}

.btn-outline-primary {
  color: $colour-dark;
  border-color: $colour-dark;

  &:hover {
    background: $colour-dark;
    color: $milkshakePink;
    border-color: transparent;
  }

  &:active {
    border-color: $colour-dark;
    background: $milkshakePink;
  }

  &:focus {
    border-color: $colour-dark;
    background: $milkshakePink;
  }
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: $milkshakePink;
  background-color: $colour-dark;
  border-color: $colour-dark;
  box-shadow: none;
}

.modal__box--stretch {
  height: 80%;
  width: 80%;
}

.chunkContainer__content--centered {
  width: 60%;
  left: 20%;
  right: 20%;
  position: relative;
  background: $milkshakePink;
  padding: 20px 60px;
  margin-bottom: 0;
}

.chunkContainer__content--middleGround {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__iconContainer {
  padding: 40px 0;
  background: $milkshakePink;
}

.text__standard--uppercase {
  text-transform: uppercase;
}

.btn__goBack--error {
  position: absolute;
      left: 70%;
      bottom: 0%;
      padding-bottom: 10px;
}


.img__standard {
  height: 347px;
  width: 100%;
  padding: 15px;
  object-fit: contain;
}

.img__desktop--small,
.vid__desktop--small {
  height: 315px;
  width: 100%;
  padding: 15px;
  object-fit: contain;
}

.vid__desktop--error {
  width: 100%;
  height: 100%;
  padding: 15px;
  object-fit: contain;
  opacity:1;
}

.img__small {
  height: 250px;
  width: 100%;
  padding: 15px;
  object-fit: cover;
}

.img__collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: $milkshakePink;
}

.img__collectionContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 100px;
}

.img__tile--primary {
  flex: 1 1 400px;
  position: relative;
  margin: 20px;
}

.img__tile {
  flex: 1 1 400px;
  position: relative;
  margin: 20px;
}

.img__tile--mob {
  flex-basis: 300px;
  position: relative;
  margin-bottom: 25px;
}

.img__mob--small {
  height: 400px;
  width: 100%;
  padding: 15px;
  -o-object-fit: contain;
  object-fit: contain;
}

.img__tileBorder--pink {
  border: 3px solid $milkshakePink;
  // border: 3px solid rgba(255, 192, 203, 0.1);
}

html {
  background-color: $colour-dark;
}

.header__position--FE {
  top: 46%;
  position: absolute;
  left: 8%;
  right: 5%;
  letter-spacing: 1.5rem;
  font-size: 3vw;
}

.textTile__standard {
  position: absolute;
  color: $milkshakePink;
  text-align: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: $colour-dark;
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textTile__standard:hover,
.textTile__standard:active, .reveal {
  opacity: 0;
}

.img__tile--expanded {
  display: none;
}

// Grays
$color: #252526;
$color2: #313134;
$color3: #3e3e40;
$color4: #4a4a4d;
$color5: #575759;

@function makelongshadow($color, $color2, $color3) {
  $val: 0px 0px $color;

  @for $i from 1 through 5 {
    $val: #{$val}, -#{$i}px #{$i}px #{$color};
  }

  @for $i from 6 through 11 {
    $val: #{$val}, -#{$i}px #{$i}px #{$color2};
  }

  @for $i from 12 through 17 {
    $val: #{$val}, -#{$i}px #{$i}px #{$color3};
  }

  @return $val;
}

@keyframes animateShadow {
  0% {
    text-shadow: makelongshadow($color, $color2, $color3);
  }

  20% {
    text-shadow: makelongshadow($color2, $color3, $color);
  }

  40% {
    text-shadow: makelongshadow($color3, $color, $color2);
  }

  60% {
    text-shadow: makelongshadow($color, $color2, $color3);
  }

  80% {
    text-shadow: makelongshadow($color2, $color3, $color);
  }

  100% {
    text-shadow: makelongshadow($color3, $color, $color2);
  }
}

.name {
  text-shadow: makelongshadow($color, $color2, $color3);
  animation-name: animateShadow;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

@media only screen and (max-width: 600px) {
  .chunkContainer__content--centered {
    width: 100%;
    left: 0%;
    right: 0%;
    padding: 20px;
    position: relative;
    background: $milkshakePink;
  }

  .container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .holdall2 {
    flex-flow: column wrap;
  }

  .holdall {
    flex-flow: row wrap;
  }

  .img__desktop--small,
  .vid__desktop--small {
    height: auto;
    width: 100%;
    padding: 0px;
  }

  .img__standard {
    height: auto;
    width: 100%;
    padding: 15px;
  }

  .text__standard--lg {
    font-size: 20.75px;
  }

  .text__standard--med {
    font-size: 38px;
  }
  // .text__standard--sm {
  //   font-size: 1rem;
  //  }
}

@media only screen and (max-width: 800px) {
  .ll {
    line-height: 5rem;
  }
}

@media only screen and (min-width: 960px) {
  .img__collection--border {
    width: 80%;
    left: 10%;
    right: 10%;
    position: relative;
    background: $milkshakePink;
    padding: 20px 60px;
    margin-bottom: 0;
  }

  .text__standard--lg {
    font-size: 45px;
  }
}

@media only screen and (max-width: 1000px) {
  .holdall {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .holdall2 {
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
  }

  .text__standard--xxl {
    font-size: 14vw;
  }

  .ll {
    line-height: 8rem;
  }

  .header__position--FE {
    top: 46%;
    position: absolute;
    left: 8%;
    right: 5%;
    letter-spacing: 1.25rem;
    font-size: 2vw;
  }

  .heading__intro--error {
    flex-flow: row wrap;
  }
}

@media only screen and (max-width: 1120px) {
  .ll {
    line-height: 11rem;
  }

  .ll2 {
    line-height: 6rem;
  }

  .text__standard--xla {
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .chunkContainer__content--centered {
    width: 80%;
    left: 10%;
    right: 10%;
    position: relative;
    background: $milkshakePink;
  }
}

@media only screen and (max-width: 1220px) {
  .ll {
    line-height: 13rem;
  }

  .ll2 {
    line-height: 7rem;
  }

  .text__standard--xla {
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 680px) {
  .header__position--FE {
    left: 8%;
    right: 5%;
    letter-spacing: 1rem;
    font-size: 1.9vw;
  }
}
